@font-face {
    font-family: Corintia;
    src: url(fontes/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(fontes/Raleway/Raleway-VariableFont_wght.ttf);
}

@keyframes colors {
    0%{
        background-position: 100% 0%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 100%;
    }
}
body{
    margin-top: -20px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    transition: 0.3s;
}

@media screen and (min-width: 0px) and (max-width: 669px) {

    html, body{
        background: linear-gradient(45deg, #f01010, #630101, #f01010, #470101);
        background-size: 300% 300%;
        overflow-x: hidden;
        overflow: visible;
        animation: colors 15s ease infinite;
    }
    
    @keyframes animacao {
        from {
            transform: translateX(-300px);
        }
        to { 
            transform: translateX(0px);
        }
     }
    
    .header{
        margin: 20px;
        text-align:initial;
        display: flex;
        justify-content: center;
        color: #fff;
        width: 90vw;
        height: 30vh;
        font-family: Corintia;
        animation: animacao 1.1s;
        font-size: 2.5em;
        
    }

    .title{
        width: 20vw;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: 6px;
    }

    #biography{

        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        justify-content: center;
        font-family: Corintia;
        color: #EEEBDD;
        font-weight: bold;
    }

    #biography img{
        display: flex;
        align-items:center;
        justify-content: space-around;
        width: 80vw;
        height: 50vh;
    }

    #menu-icon{
        position: absolute;
        right: 0.5vw;
        top: 3vh;
        border-radius: 70%;
        height: 4.5vh;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #menu-icon.active{
        display: flex;
        right: 0.5vw;
        top: 3vh;
        transition: 0.3;
    }

    #menu-icon.active .line1{
       transform: rotate(45deg) translate(10px, 8px);
    }
    #menu-icon.active .line2{
        opacity: 0;
    }
    #menu-icon.active .line3{
        transform: rotate(-45deg) translate(6px, -4px);;
    }

    #menu-icon div{
        display: flex;
        width: 30px;
        height: 4px;
        margin: 3px;
        background-color: rgb(255, 255, 255);
        transition: 0.4s;
    }

    #nav-list{
        z-index: 1000;
        font-size: 1.1em;
        border: 5px solid transparent;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.356);
        backdrop-filter: blur(4px);
        background-clip: padding-box;
        position: absolute;
        right: 1vw;
        top: 8vh;
        width: 30vw;
        height: 70vh;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100vw);
        transition: 0.2s;   
    }

    #nav-list img:hover{
        opacity: 0.6;
        width: 14vw;
        transition: 0.3s;
    }

    #nav-list div{
        margin-top: 10px;
        transition: 0.2s;
        display: flex;
        justify-content: center;
    }

    #nav-list img{
        transition: 0.1s;
        width: 8vw;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #button{
        border: none;
    }

    #nav-list.active{
        transform: translateX(0px);
    }

    .text-white{
        font-family: Corintia;
        margin: 5vh;
        color:#EEEBDD;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .back-fotos{
        padding: 0px;
        background: linear-gradient(45deg, #ca0303, #460202, #ad0303, #2e0101);
        background-size: 300% 300%;
        overflow-x: hidden;
        overflow-y: visible;
        animation: colors 15s ease infinite;
    }

    .foto-links a{
        color: #fff;
    }

    .foto-links a:hover{
        color: black;
        transition: 0.5s;
    }

    .foto-links:hover{
        background: linear-gradient(90deg, #c2b3b37a, #9c8f8f75, #b64848dc, #e2494963);
        backdrop-filter: blur(4px);
        background-size: 170% 500%;
        overflow-x: hidden;
        overflow-y: hidden;
        animation: colors 10s ease infinite;
    }

    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
    }

    .foto-links{
        background-color: #350303af;
        transition: 0.7s;
        border-radius: 2%;
        margin: 60px;
        padding-top: 15px;
        display: flex;
        
        overflow-y: hidden;
    }

    .foto-links img{
        height: 48vh;
        display: flex;
        width: 70vw;
    }

    .subtitle-foto{
        font-family: Corintia;
        margin: 2vh;
        font-size: 1.5em;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 670px) {

    html, body{
        margin-top: 2vh;
        padding: 0px;
        background: linear-gradient(45deg, #f01010, #630101, #f01010, #470101);
        background-size: 300% 300%;
        overflow-x: hidden;
        overflow-y: visible;
        animation: colors 15s ease infinite;
    }

    .header{
        text-align:center;
        display: flex;
        justify-content: center;
        color: #fff;
        width: 100vw;
        height: 30vh;
        font-family: Corintia;
        animation: animacao 1.1s;
        font-size: 4em;
        margin-bottom: 20px;
        
    }

    #nav-list div:hover{
        font-size: 3em;
        font-weight: bolder;
        transition: 0.4s;
    }
    
    #nav-list{
        margin-top: 6vh;
        width: 100vw;
        z-index: 1000;
        position: absolute;
        top: 10vh;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;   
    } 

    #nav-list div{
        font-size: 2em;
        color: #EEEBDD;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-list img{
        display: none;
    }

    #nav-list.active{
        transform: translateX(0px);
    }


    .menu-icon{
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }

    .menu-icon a {
        display: block;
        padding: 0.5rem;
      }

    #menu{
        display: none;
    }
    
    #biography{
        width: 100vw;
        height: 60vh;
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-family: Corintia;
        color: #EEEBDD;
    }

    #biography img{
        margin-left: 10vw;
        position: relative;
        display: flex;
        width: 60vw;
        height: 60vh;
    }
    
    .text-white{
        margin-right: 10vw;
        align-self: center;
        margin-left: 20px;
        font-size: 1.2em;
        font-family: Corintia;
        color:#EEEBDD;
    }

    
    .foto-links a{
        color: #fff;
    }

    .foto-links a:hover{
        color: black;
        transition: 0.5s;
    }

    .foto-links:hover{
        background: linear-gradient(90deg, #c2b3b37a, #9c8f8f75, #b64848dc, #e2494963);
        backdrop-filter: blur(4px);
        background-size: 170% 500%;
        overflow-y: visible;
        animation: colors 10s ease infinite;
    }

    .categories::-webkit-scrollbar{
        width: 1vw;
        border-radius: 80px 80px 80px 80px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .categories::-webkit-scrollbar-thumb{
        width: 1vw;
        border-radius: 80px 80px 80px 80px;
        background-color: #360000;
    }

    .categories{
        position: absolute;
        right: 5%;
        width: 90vw;
        display:flex;
        flex-direction:row;
        overflow-x: scroll;
        justify-content: space-between;
        overflow-y: hidden;
    }

    .categories .foto-links{
        display:inline-block;
        *display:inline;
    }


    .foto-links{
        background-color: #350303af;
        transition: 0.7s;
        border-radius: 2%;
        margin: 40px;
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        
        overflow-y: visible ;
    }

    .foto-links img{
        height: 50vh;
        display: flex;
        width: 20vw;
    }

    .subtitle-foto{
        font-family: Corintia;
        margin: 2vh;
        font-size: 1.5em;
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

