@font-face {
    font-family: Corintia;
    src: url(fontes/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(fontes/Raleway/Raleway-VariableFont_wght.ttf);
}

body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-color: #e3e5eb;
    overflow-x: hidden;
    overflow-y: visible;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: Raleway;
    transition: 0.3s;
}

a:hover{
    opacity: 0.8;
}

@media screen and (min-width: 50px) and (max-width: 600px) {
    
    @keyframes animacao {
        from {
            transform: translateX(-300px);
        }
        to { 
            transform: translateX(0px);
        }
     }

     @keyframes  navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
     }
    
    .header{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        color: #A61103;
        width: 90vw;
        height: 30vh;
        font-family: Corintia;
        animation: animacao 1.1s;
        font-size: 2.5em;
        
    }

    #name{
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: 6px;
    }

    #biography{
        
        display: flex;
        margin-left: 12%;
        font-size: 1.5em;
        text-align: center;
        font-family: Corintia;
        color: #A61103;
        margin-top: 10vh;
        font-weight: bold;
    }

    #biography img{
        display: flex;
        align-items:center;
        justify-content: space-around;
        height: 50vh;
    }

    @media (min-width: 1000px) {
        .menu-icon{
            display: flex;
            list-style: none;
            gap: 0.5rem;
        }

        .menu-icon a {
            display: block;
            padding: 0.5rem;
          }

        #menu{
            display: none;
        }
    }

    #menu-icon{
        position: absolute;
        right: 1vw;
        top: 5vh;
    }

    #menu-icon.active{
        position: absolute;
        right: 1vw;
        top: 4vh;
        transition: 0.5;
    }

    #menu-icon.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
        transition: 0.3s;
    }
    #menu-icon.active .line2{
        opacity: 0;
    }
    #menu-icon.active .line3{
        transform: rotate(45deg) translate(-3px, -3px);
        transition: 0.3s;
    }

    #menu-icon div{
        display: flex;
        width: 30px;
        height: 4px;
        margin: 4px;
        background-color: #A61103;
        transition: 0.3s;
    }

    #nav-list{
        z-index: 1000;
        font-size: 1.4em;
        border: 2px solid #A61103;
        box-shadow: 0px 0px 5px #A61103;
        border-radius: 10px;
        background-color: #89898d63;
        backdrop-filter: blur(4px);
        background-clip: padding-box;
        position: absolute;
        right: 0;
        top: 9vh;
        width: 40vw;
        height: 88vh;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100vw);
        transition: 0.4s;
        
    }

    #button{
        border: none;
    }

    #button.active.line1{
        transform: rotateY(90deg);
    }

    #nav-list.active{
        transform: translateX(0px);
    }

    .text-red{
        margin-top: 3vw;
        position: relative;
        font-size: 3vw;
    }

    

}


