@font-face {
    font-family: Corintia;
    src: url(fontes/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(fontes/Raleway/Raleway-VariableFont_wght.ttf);
}

@keyframes colors {
    0%{
        background-position: 100% 0%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 100%;
    }
}
body{
    height: 200vh;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: Raleway;
    transition: 0.3s;
}

a:hover{
    opacity: 0.6;
}

@media screen and (min-width: 50px) and (max-width: 600px) {

    html, body{
        padding: 0px;
        background: linear-gradient(45deg, #f01010, #630101, #f01010, #470101);
        background-size: 300% 300%;
        overflow-x: hidden;
        overflow-y: visible;
        animation: colors 15s ease infinite;
    }
    
    @keyframes animacao {
        from {
            transform: translateX(-300px);
        }
        to { 
            transform: translateX(0px);
        }
     }
    
    .header{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        width: 90vw;
        height: 30vh;
        font-family: Corintia;
        animation: animacao 1.1s;
        font-size: 2.5em;
        
    }

    #name{
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: 6px;
    }

    #biography{
        
        display: flex;
        font-size: 1.5em;
        justify-content: center;
        font-family: Corintia;
        color: #EEEBDD;
        font-weight: bold;
    }

    #biography img{
        display: flex;
        align-items:center;
        justify-content: space-around;
        width: 80vw;
        height: 50vh;
    }

    @media (min-width: 1000px) {
        .menu-icon{
            display: flex;
            list-style: none;
            gap: 0.5rem;
        }

        .menu-icon a {
            display: block;
            padding: 0.5rem;
          }

        #menu{
            display: none;
        }
    }

    #menu-icon{
        position: absolute;
        right: 0.5vw;
        top: 3vh;
        border-radius: 70%;
        height: 4.5vh;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #menu-icon.active{
        display: flex;
        right: 0.5vw;
        top: 3vh;
        transition: 0.3;
    }

    #menu-icon.active .line1{
       transform: rotate(45deg) translate(10px, 8px);
    }
    #menu-icon.active .line2{
        opacity: 0;
    }
    #menu-icon.active .line3{
        transform: rotate(-45deg) translate(6px, -4px);;
    }

    #menu-icon div{
        display: flex;
        width: 30px;
        height: 4px;
        margin: 3px;
        background-color: rgb(255, 255, 255);
        transition: 0.4s;
    }

    #nav-list{
        z-index: 1000;
        font-size: 2em;
        border: 5px solid transparent;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.356);
        backdrop-filter: blur(4px);
        background-clip: padding-box;
        position: absolute;
        right: 1vw;
        top: 8vh;
        width: 30vw;
        height: 88vh;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100vw);
        transition: 0.4s;   
    }

    #nav-list img:hover{
        opacity: 0.6;
        width: 12vw;
        transition: 0.3s;
    }

    #nav-list div{
        transition: 0.2s;
        display: flex;
        justify-content: center;
    }

    #nav-list img{
        transition: 0.1s;
        width: 10vw;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #button{
        border: none;
    }

    #nav-list.active{
        transform: translateX(0px);
    }

    .text-white{
        font-family: Corintia;
        margin-top: 5vh;
        color:#EEEBDD;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

}


